.prof
    display: block !important
    margin: 0 auto
    width: 10%
    margin-top: 18vh
    font-weight: 400
    text-align: center
.profTwo
    text-align: center
    margin: 0 auto 50px auto
    width: 10%
.cardsWrapper
    background-color: black