@media (min-width: 1200px)
    div
@media (min-width: 992px) and (max-width: 1199px)
    div
@media (min-width: 768px) and (max-width: 991px)
    div
@media (max-width: 767px)
    .links
        a
            font-size: 24px !important

                
.projectCard
    width: 80%
    margin: 0 auto 100px auto
    display: flex
    flex-direction: column
    justify-content: center
    .name
        height: 11vh
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        font-size: 32px
        font-weight: 900
        outline: 1px solid black
    .links
        width: 100%
        outline: 1px solid
        display: flex
        justify-content: space-between
        cursor: pointer
        a
            text-decoration: none
            color: black
            width: 50%
            height: 15vh
            transition: 0.3s
            cursor: pointer
            font-size: 32px
            font-weight: 900
            display: flex
            justify-content: center
            align-items: center
        a:hover
            background-color: #858585
        a:nth-child(1)
            outline: 1px solid black

