@media (min-width: 1200px)
    .face
        height: 390px !important
        width: 390px !important
@media (min-width: 992px) and (max-width: 1199px)
    .face
        height: 300px !important
        width: 300px !important
@media (min-width: 768px) and (max-width: 991px)
    .face
        height: 250px !important
        width: 250px !important
@media (max-width: 767px)
    .face
        display: block !important
        height: 250px !important
        width: 250px !important
    .wrapper
        justify-content: center !important
        div:nth-child(1)
            display: none !important
        *:nth-child(3)
            display: none !important


.wrapper
    background-color: #f1f1f1
    height: 25vh
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    box-sizing: border-box
    padding: 0 10%
    box-shadow: 0 0 10px rgba(0,0,0,0.5)
    .name
        display: flex
        flex-direction: column
        span:nth-child(2)
            margin-left: 30px
    *
        color: black
        text-decoration: none
        width: 10%
        font-size: 32px
        font-weight: 900
    .face
        margin-top: 17vh 
        border-radius: 100%
        border: 8px solid white
        background: url('https://sun2.tattelecom-nbc.userapi.com/impg/kp-hvOrhgufqPcu6FxDRTZxutCv4W3XmCm-LdQ/4pnCRKZWpAw.jpg?size=1600x1600&quality=95&sign=9df20f4875022ab194c0e536ac687dfc&type=album') 
        background-size: contain