.wrapper
    display: flex
    flex-direction: column
    align-items: center
    .projectName
        text-align: center
        user-select: none
    .projectDesc
        text-align: justify
        width: 80%
        font-weight: 600
        font-size: 16px
    .ProjectCard
        margin-bottom: 5vh
        .links
            width: 100%
            outline: 2px solid
            outline-top: 0
            display: flex
            justify-content: space-between
            cursor: pointer
            a
                text-decoration: none
                color: black
                width: 50%
                height: 15vh
                background-color: white
                transition: 0.3s
                cursor: pointer
                font-size: 32px
                font-weight: 900
                display: flex
                justify-content: center
                align-items: center
            a:hover
                background-color: #858585
    .ProjectCard:last-child
        margin: 0